{% extends 'base.html' %}
{% block styles %}
    <style>
        body {
            background-color: #fffffc;
        }

        .card {
            color: #fff;
            background-size: cover;
            width: 300px;
            height: 175px;
            border-radius: 10px;
            box-shadow: 0px 8px 16px 4px #9E9E9E;
        }

        .home-img {
            box-shadow: 0 0 0 0 #9E9E9E;
        }

        .cold {
            background-image: url("/static/cold.jpg");
        }

        .medium-tmp {
            background-image: url("/static/cloudycold.jpg");
        }

        .warm {
            background-image: url("/static/sunny.jpeg");
        }

        .hot {
            background-image: url("/static/hot.jpg");
        }

        .time-font {
            font-size: 20px;
        }

        .sm-font {
            font-size: 8px;
        }

        .med-font {
            font-size: 12px;
        }

        .large-font {
            font-size: 25px;
        }

        .whitefont {
            color: white;
        }
    </style>
{% endblock styles %}
{% block content %}
    <div class="alert alert-danger text-center" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
             class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>
        Weather Warnings: Australia is on fire :D
    </div>
    <div class="container col-xxl-8 pb-5 pt-2">
        <div class="row flex-lg-row-reverse align-items-center g-5 pb-5">
            <div class="col-10 col-sm-8 col-lg-6">

                <iframe width="100%"
                        height="450px" frameborder="0"
                        src="https://embed.windy.com/embed2.html?lat=-20.954&lon=148.156&detailLat=-27.473&detailLon=153.022&width=650&height=450&zoom=5&level=surface&overlay=capAlerts&product=capAlerts&menu=&message=&marker=&calendar=now&pressure=&type=map&location=coordinates&detail=&metricWind=default&metricTemp=default&radarRange=-1"
                ></iframe>
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Quickly access relevant Queensland weather data</h1>
                <p class="lead">iWeather provides accurate and current weather data on extreme and mild weather
                    events
                    throughout Queensland. It allows you to quickly view the temperature, humidity and more for
                    locations across Queensland</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <form action="{{ url_for('locations') }}">
                        <button type="submit" class="btn btn-primary btn-lg px-4 me-md-2">Weather</button>
                    </form>
                    <form action="{{ url_for('maps', type="rain", lat="-22.485", long="149.443", zoom="5") }}">
                        <button type="submit" class="btn btn-outline-secondary btn-lg px-4">Maps</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="row justify-content-center">
        {% for data in location %}
            <div class="col-md-auto">
            <div class="container-fluid px-1 px-md-4 py-4 mx-auto">
            <div class="row d-flex justify-content-center px-3">
            {% if 0<= data[3] < 10 %}
                <div class="card cold">
            {% elif 10 <= data[3] < 20 %}
                <div class="card medium-tmp">
            {% elif 20<= data[3]<30 %}
                <div class="card warm ">
            {% elif 30 <= data[3] %}
                <div class="card hot">
            {% endif %}

        <h2 class="ml-auto mr-4 mt-3 mb-0"><a href="{{ url_for('weatherloc', id=data[1]) }}"
                                              class="whitefont" style="text-decoration:none">{{ data[1] }}</a></h2>
        <h1 class="ml-auto mr-4 large-font">{{ data[3] }}&#176;</h1>
        <p class="time-font mb-0 ml-4 mt-auto">{{ (data[2]|string)[3:8] }}<span
                class="sm-font">{{ (data[2]|string)[8:] }}</span></p>
        <p class="ml-4 mb-4">{{ date }}{{ (data[2]|string)[0:2] }}{{ date2 }}</p>
        </div>
        </div>
        </div>
        </div>
        {% endfor %}

        </div>
        </div>
        </div>
    </div>
{% endblock content %}